
@{
    ViewBag.Title = "ThanhToan";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="padding-top: 20px; margin-left: 10px">THANH TOÁN THÀNH CÔNG, CẢM ƠN QUÝ KHÁCH HÀNG ĐÃ SỬ DỤNG DỊCH VỤ TẠI HỆ THỐNG</h2>

