
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div>
    <h2 style="text-align:center">TRANG HỆ THỐNG QUẢN LÝ BÓNG ĐÁ</h2>
    <div id="dong_ho">
        <h4>Thời gian bây giờ là:</h4>
        <div id="thoi_gian">
            <div>
                <span id="gio">00</span><span>Giờ</span>
            </div>
            <div>
                <span id="phut">00</span><span>Phút</span>
            </div>
            <div>
                <span id="giay">00</span><span>Giây</span>
            </div>
        </div>
    </div>
    <img src="~/Image/logo-san-bong.jpg" width="100%" alt="Alternate Text" />

    <script>
        function Dong_ho() {
            var gio = document.getElementById("gio");
            var phut = document.getElementById("phut");
            var giay = document.getElementById("giay");
            var Gio_hien_tai = new Date().getHours();
            var Phut_hien_tai = new Date().getMinutes();
            var Giay_hien_tai = new Date().getSeconds();
            gio.innerHTML = Gio_hien_tai;
            phut.innerHTML = Phut_hien_tai;
            giay.innerHTML = Giay_hien_tai;
        }
        var Dem_gio = setInterval(Dong_ho, 1000);
    </script>
</div>

